.about {
  width: 80%;
  margin: auto;
}

.about-item > img {
  width: 200px;
}

.left {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.right {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
}