.footer {
  width: 100vw;
  height: 20vh;
  background: #313A37;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  color: white;
}

.footer-link {
  text-decoration: none;
  color: white;
  border-bottom: 1px solid white;
}
