.gallery {
  width: 1024px;
  margin: auto;
  text-align: center;
}

.gallery-title {
  font-size: 40px;
}

.gallery-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 200px 200px 200px;
  background-color: #2196f3;
  padding: 10px;
  grid-gap: 10px;
}

.gallery-item {
  border: 1px solid blue;
  background-color: lightblue;
  overflow: hidden;
  margin: auto;
  height: 100%;
  width: 100%;
}
