/* font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif; */


.gallery {
  text-align: center;
  padding: 20px;
}

.gallery-title {
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  font-weight: 100;
  margin: 0px 0px 30px;
}

.gallery-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 200px 200px 200px;
  padding: 10px;
  margin: 10px 0;
  grid-gap: 10px;
}

.gallery-item {
  overflow: hidden;
  margin: auto;
  height: 100%;
  width: 100%;
}

.gallery-item > img {
  height: 100%;
  width: auto;
}

