/* font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif; */

.mission {
  display: flex;
  justify-content: center;
  margin: auto;
  text-align: center;
  /* border: 1px solid blueviolet; */
  padding: 10px;
  background: white;
}

.mission.active {
  display: flex;
}

.mission.hide {
  display: none;
}

.mission-box {
  width: 100%;
  /* border: 1px solid red; */
}

.mission-title {
  font-family: 'Robot', sans-serif;
  font-size: 25px;
  font-weight: 100;
  margin: 30px 50px;
  /* padding: 10px; */
  line-height: 40px;
  letter-spacing: 1px;
}

.mission-list {
  display: flex;
  justify-content: space-evenly;
  /* align-items: center; */
  max-width: 100%;
  padding: 10px;
}

.mission-item {
  max-width: 34%;
  padding: 10px 0px;
  /* margin-left: 10px;
  margin-right: 10px; */
}

.mission-item > img {
  width: 70%;
}

.mission-item > p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  padding: 10px;
  line-height: 25px;
  letter-spacing: 1px;
}




