.tab-links {
  display: flex;
  justify-content: space-between;
  border: 1px solid grey;
}

.tab-link-box {
  width: 100%;
}

.tab-link-box > button {
  display: flex;
  justify-content: center;
  border: none;
  padding: 10px;
  margin: auto;
  /* change font and size */
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 40px;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.tab-link-box > button:focus {
  outline: none;
}

.tab-link-box > button.active {
  color: white;
  background: #313A37;
  transition: 0.5s;
  transition-property: background;
}